body {
       background-image: url("/static/wallmobile.jpg");
       background-repeat: no-repeat;
       background-position: center;
       background-attachment: fixed;
       background-color: #cccccc;
       background-size: cover;
     }
@media only screen and (min-width: 600px) {
    body { 
       background-image: url('pollsinit.jpg'); 
       background-repeat: no-repeat;
       background-position: center;
       background-attachment: fixed;
       background-color: #cccccc;
       background-size: cover;
    }
}