<!DOCTYPE html>
<html>
    <title>
        
    </title>
    <head>
        <style type="text/css">
            body {
                background-image: url("/static/pollsinit.jpg");
                background-repeat: no-repeat;
                background-position: center; 
                background-attachment: fixed;
                background-size: 300px 100px;
                background-color: #cccccc;
            }
        </style>
        
    </head>
    <body>
         
    </body>
</html>
